body.dark-mode {

  /* Colores corporativos */
  --color-primary: #90CAF9;
  --color-primary-hover: #64B5F6;
  --color-secondary: #FFD54F;
  --color-success: #81C784;
  --color-error: #EF9A9A;

  /* Texto */
  --text-color: #E0E0E0;
  --text-color-secondary: #BDBDBD;

  /* Fondos */
  --bg-color: #121212;
  --bg-secondary: #1E1E1E;

  /* Sombras */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
}
